# Игнорируем временные файлы мониторинга и буферы сообщений
*.hb
*.msg

# На всякий случай можно добавить игнор базы данных и логов, 
# если не хочешь пушить мусор от тестов:
vko_decrypted_all.log
vko_base.db