# --- РЛС (Радиолокационные станции СПРН) ---
# РЛС 1 (Кишинев) - "Воронеж-ДМ"
RLS1_NAME="RLS_1"
RLS1_X=2700000
RLS1_Y=2850000
RLS1_R=4000000
RLS1_AZIMUTH=225
RLS1_FOV=200

# РЛС 2 - "Дарьял"
RLS2_NAME="RLS_2"
RLS2_X=8000000
RLS2_Y=7000000
RLS2_R=6000000
RLS2_AZIMUTH=45
RLS2_FOV=90

# РЛС 3 (Иркутск) - "Днепр"
RLS3_NAME="RLS_3"
RLS3_X=7500000
RLS3_Y=3450000
RLS3_R=3500000
RLS3_AZIMUTH=270
RLS3_FOV=120

# --- ЗРДН (Зенитно-ракетные дивизионы) ---
# зрдн1 (Оренбург)
ZRDN1_NAME="ZRDN_1"
ZRDN1_X=4300000
ZRDN1_Y=3400000
ZRDN1_R=600000  # 600 км
ZRDN1_AMMO=20

# зрдн2 (Волгоград)
ZRDN2_NAME="ZRDN_2"
ZRDN2_X=3600000
ZRDN2_Y=3100000
ZRDN2_R=400000  # 400 км
ZRDN2_AMMO=20

# зрдн3 (Махачкала)
ZRDN3_NAME="ZRDN_3"
ZRDN3_X=3800000
ZRDN3_Y=2500000
ZRDN3_R=550000  # 550 км
ZRDN3_AMMO=20

# --- СПРО (Система противоракетной обороны) ---
# СПРО (Омск)
SPRO_NAME="SPRO"
SPRO_X=5500000
SPRO_Y=3600000
SPRO_R=1500000  # 1500 км
SPRO_AMMO=10